<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-touch-visualizer" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

  <name>TouchVisualizer</name>

  <js-module name="TouchVisualizer" src="www/TouchVisualizerSwift.js">
    <clobbers target="TouchVisualizer" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="TouchVisualizer">
        <param name="ios-package" value="TouchVisualizerSwift" />
      </feature>
    </config-file>
    <source-file src="src/ios/Configuration.swift" />
    <source-file src="src/ios/TouchView.swift" />
    <source-file src="src/ios/TouchVisualizerSwift.swift" />
    <source-file src="src/ios/UIWindow+Swizzle.swift" />
    <source-file src="src/ios/Visualizer.swift" />

  </platform>


    
</plugin>
